<h1 class="mt-5">Agregar Producto <span> {{texto1}} </span></h1>
<hr>
<form [formGroup]="miFormulario">
    <div class="row g-3 align-items-center mb-3">
        <div class="col-auto">
            <label for="" class="col-form-label">
                Nombre
            </label>
        </div>
        <div class="col-auto">
            <input class="form-control" formControlName="nombre">
        </div>
        <div class="col-auto">
            <span errorMsj
                [mensaje]="texto1"
                [color]="color"
                [valido]="!msjError('nombre')">
            </span>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <button class="btn btn-primary"
                (click)="cambiarNombre()">Cambiar</button>
            <button class="btn btn-primary ms-2"
                (click)="cambiarColor()">Cambiar Color</button>
        </div>
    </div>
</form>

<h3>Informcacion</h3>
<p>Valor: {{miFormulario.value | json }}</p>

<p>Valido: {{miFormulario.valid}}</p>